/results
/jobScript.Rout.*
/slurm-*
/multiStateFlowReliability.po*
/multiStateFlowReliability.o*
/summarised.RData
/tables.aux
/tables.log
/tables.pdf
/dodecahedron5EqualCapacityPaper
/plots
/grid3x3_1
/grid4x4_1